<header id="hd" class="rlatv list-bnr postbuy-banner">
  <div class="hd-srch">
    <h2>Post buying request</h2>
  </div>
</header>
<section id="md" class="lst-midd-cnt post-buy-midd-cnt">
  <div class="wht-bg MT60">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 border-right" id="tab-panel">
          <div class="tellus-tab">
            <ul id="myTab">
              <li class="active"><a href="#tellus-one" data-toggle="tab"><span>1</span>What you want</a></li>
              <li class=""><a href="#tellus-two" data-toggle="tab"><span>2</span>Who you are</a></li>
            </ul>
            <div class="clr"></div>
          </div>

          <!-- BUYER REQUEST FORM BEGINs -->
          <%= render partial: 'form'%>
          <!-- BUYER REQUEST FORM ENDs -->

          <div class="rules-bx">
            <h2><img src="/assets/rules-bulb.png" alt="">Rules</h2>
            <ul>
              <li><span>1</span>
                <div class="rules-cont">Your Buying Request should be specific and clear.</div>
              </li>
              <li><span>2</span>
                <div class="rules-cont">You shall not post the same buying request repeatedly at one time.</div>
              </li>
              <li><span>3</span>
                <div class="rules-cont">You shall not post any materials that are untrue, inaccurate, unlawful, invalid</div>
              </li>
              <li><span>4</span>
                <div class="rules-cont">You undertake that you shall not publish any information or conduct any act whatsoever that infringe the rights of any third party, including but not limited to any intellectual property rights, rights of publicity, rights of personality, rights of privacy, and any other rights of third parties not specifically identified in this clause.</div>
              </li>
              <li><span>5</span>
                <div class="rules-cont">System generated emails will be sent to you to facilitate notifications of Buying Request status and quotation updates pursuant to your request</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <h2 class="page-hd txtctr">How it <span>work?</span></h2>
          <div class="post-work-cont">
            <div class="post-work-step">
              <div class="work-step-img"><img src="/assets/stepimg1.png" alt=""></div>
              <h2>Step 1</h2>
              <p>Submits a Buying Request specifying their requirements within 5 minutes</p>
              <img src="/assets/step-arrow.png" alt="" class="img-responsive"> </div>
            <div class="post-work-step">
              <div class="work-step-img"><img src="/assets/stepimg2.png" alt=""></div>
              <h2>Step 2</h2>
              <p>Power Cozmo match your request with verified seller and suppliers</p>
              <img src="/assets/step-arrow.png" alt="" class="img-responsive"> </div>
            <div class="post-work-step">
              <div class="work-step-img"><img src="/assets/stepimg3.png" alt=""></div>
              <h2>Step 3</h2>
              <p>Quotations and offers reviewedby power cozmo</p>
              <img src="/assets/step-arrow.png" alt="" class="img-responsive"> </div>
            <div class="post-work-step">
              <div class="work-step-img"><img src="/assets/stepimg4.png" alt=""></div>
              <h2>Step 4</h2>
              <p>Select the most suitable offer and works towards finalizing the deal.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
