<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1> Edit <span id='header_name_edit'>Equipment</span> </h1>
    <ol class="breadcrumb">
      <li><a href="<%= seller_dashboard_path %>">Home</a></li>
      <li><a href="<%= seller_equipment_index_path %>">Equipment</a></li>
      <li class="active">Edit</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content equipment-content">
  	<%= render partial: "form" %>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->