<div class="page page-forms-elements page-dashboard">
	<ol class="breadcrumb breadcrumb-small">
		<li><a href="<%= seller_dashboard_path %>">Home</a></li>
		<li class="active">Add New Equipment</li>
	</ol>
	
	<div class="page-wrap clearfix">
		
		<div class="col-md-9 col-sm-12 col-xs-12">
			<div class="row">
				<!-- dashboard header -->
				<div class="col-md-12">
					<div class="dash-head clearfix mb20">
						<div class="left">
							<h4 class="mb5 text-light">Add New Equipment</h4>
						</div>
					</div>
				</div>
			</div> <!-- #end row -->
			
			<!-- row -->
			<div class="row">
				<%= render partial: "form" %>
			</div>
		</div>

		<div class="col-md-3 col-sm-12 col-xs-12"> 

			<%= render partial: "right_section" %>

		</div>	

	</div>
</div>
