<div class="page page-forms-elements page-dashboard">
 
	
	<div class="page-wrap clearfix">
		
		<div class="col-md-9 col-sm-12 col-xs-12 no-padding">
			<div class="row no-margin no-padding">
				<!-- dashboard header -->
				<div class="col-md-12 no-padding">
					<div class="dash-head clearfix mb20">
						<div class="left">
							<h4 class="mb5 text-light">Welcome to Power Cozmo</h4>
						</div>
					</div>
				</div>
			</div> <!-- #end row -->

			<div class="row no-marging">
				<div class="col-md-12">
					<div class="main-box top-margin-15 no-radius">
						<div class="main-heding no-t-padding no-border"><i class="fa fa-list" aria-hidden="true"></i> <p>Add New Equipment</p></div>
					</div>
				</div>
			</div>
			
			<!-- row -->
			<div class="row no-margin">
				<%= render partial: "form" %>
			</div>
		</div>

		<div class="col-md-3 col-sm-12 col-xs-12"> 

			<%= render partial: "right_section" %>

		</div>	

	</div>
</div>
