

<div class="page page-dashboard">

	 <div class="row no-margin no-padding">
			<!-- dashboard header -->
			<div class="col-md-12 no-padding">
				<div class="dash-head clearfix mb20">
					<div class="left">
						<h4 class="mb5 text-light"><%= @ask_for_services.first.title %></h4>
					</div>
				</div>
			</div>
		</div>
	
	<div class="page-wrap">
		
	 
		
		<!-- row -->
		<div class="row no-marging">
<div class="col-md-12">
				<div class="sta-text">
				<%= @ask_for_services.first.content.to_s.html_safe %>
				</div>
			</div>
		</div>
	</div>
</div>
