[Desktop Entry]
Encoding=UTF-8
Name=Link to http://demo.interface.club/crown/images/backgrounds/bodyBg.png
Type=Link
URL=http://demo.interface.club/crown/images/backgrounds/bodyBg.png
Icon=image-png
