<div class="tab-pane unread-msg-top">
	<div class="chat-tab tab clearfix">
		<% if notifications.present? %>
			<% notifications.each do |notification| %>
				<div class="user-container mb15">
					<%=link_to notification.notification_message, seller_detail_inquiry_center_path(notification) %>
					<div class="clearfix"></div>
				</div>
			<% end %>
		<% else %>
			No notifications
		<% end %>
	</div>
</div>
