<header id="hd" class="rlatv list-bnr">
  <div class="hd-srch">
    <h2>Welcome to power cozmo</h2>
  </div>
</header>
<%-# @about_us.first.content.to_s.html_safe -%>


<section id="md" class="lst-midd-cnt">
	<div class="wht-bg PT40 jumptarget" id="_power_cozmo">
		<div class="welcome-inr-cnt">
		  <h2 class="page-hd txtctr">What is <span>power Cozmo?</span></h2>
		<div class="welcome-inr-img">
			<div class="container">
			  <div class="row">
				<div class="col-lg-12"><img src="/assets/welcome-big-img1.png"></div>
			  </div>
			</div>
		  </div>
		  <div class="welcome-inr-txt">

			<div class="container">
			  <div class="row">
				<div class="col-lg-12">
				  <div class="welcome-para"><p>Power Cozmo is online automated platform works as market place for all power plants need, based on connecting sellers & buyers together all over the world, You can :</p></div>
				  <ul class="whatpower-lst">
				  <li>Sell, Buy & trade safely of your used or surplus power equipment by our worldwide online automated platform, Just post your advertisement in minutes.</li>
				  <li>Post your buying request on our platform and you will get quotes from many sellers and suppliers.</li>
				  </ul>
				  <div class="clr"></div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="wht-bg PT40 jumptarget" id="_us">
		<div class="welcome-inr-cnt">
		  <h2 class="page-hd txtctr">WHO <span>WE ARE?</span></h2>
			<div class="welcome-inr-img">
			<div class="container">
			  <div class="row">
				<div class="col-lg-12"><img src="/assets/welcome-big-img2.png"></div>
			  </div>
			</div>
		  </div>
		  <div class="welcome-inr-txt">
			<div class="container">
			  <div class="row">
				<div class="col-lg-12">
				  <div class="whowe-cnt-area">
					<p>Power Cozmo has selected a team of leaders who are passionate about the business and are committed to its success. Together, they foster a culture of excellence with employees at the heart of the       business.</p>
					  <p>The management team creates an open and respectful culture which aims to empower the whole organization and recognize the value people bring to the company.</p>
				  </div>
				  <div class="whowe-cnt-area fr">
					<p>Power Cozmo represents a truly unique opportunity for us all. It         provides a fresh start; the opportunity to leverage the collective         knowledge and capabilities of both organizations, the ability to strengthen and deliver a truly world-class power services company - and most importantly, a service platform from which to create real value for our customers.</p>
					  <p>We are excited about the prospects for Power Cozmo . We have expert team in power plant industry , world-class facilities, technology and two shareholders that are committed to the success of the business."</p>
				  </div>
				  <div class="clr"></div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="blue-bg PT40 PB40" id="team">
		<div class="container">
				<div class="row">
			<div class="col-lg-12">
				<div class="welcome-inr-cnt">
				<div class="meet-our-team">
				  <h2 class="page-hd txtctr">MEET <span>OUR TEAM</span></h2>
				  <h3>Coming together is a beginning. Keeping together is progress. Working together is success.</h3>
				  <p>Each and every one of our employees represent the spirit of our company: driven, committed, and acutely aware of how limitless Power Cozmo potential is to grow. We go to great lengths to identify self-starters with diverse experience and skill sets to produce not just an effective workforce, but a well-rounded, talented and complementary team.</p>
				</div>
			  </div>
			</div>
			<div id="pr-category" class="owl-carousel">


				<%@our_team.each_with_index do |team, i|%>
				    <div class="item">
					<div class="col-lg-12 col-md-12 cat-lst">
					  <div class="team-photo">
						<% 
						image = team.image.image.carousel.url	
						img_path = Rails.root.to_s + '/public' + image
						if File.exist?(img_path) and image != ''
						%>
							<img src="<%= image %>">
						<% else %>
							<img src="/assets/team-noimage.jpg">
						<% end %>
						
						<div class="team-info">


							<span><%= strip_tags("#{team.name}")%></span>
							<%= strip_tags("#{team.description}")%>
						</div>
					  </div>
					</div>
				    </div>
				<%end%>
			</div>
		  </div>
		</div>
	  </div>
</section>


<script type="text/javascript">
  $(document).ready(function($) {
    $("#owl-example").owlCarousel({
      loop:true,
      margin:0,
      nav:true,
      autoplay:true,
      autoplayHoverPause:true,
      items : 1
    });

    $("#pr-category").owlCarousel({
      loop:true,
      margin:0,
      nav:true,
      autoplay:true,
      autoplayHoverPause:true,
      items : 4,
      responsiveClass:true,
      responsive:{
        0:{
          items:1
        },
        700:{
          items:3
        },
        1000:{
          items:4
        }
      }
    });
    /** custom code for moving to specific anchor on page**/
    var ele = $('#_' + window.location.hash.replace('#', ''));
    jump_to(ele);
    $('.anchor').on('click', function(event){
      id = $(this).attr('href').split('#').pop();
      element = $('#_'+id);
      jump_to(element);
    })
    function jump_to(elem){
      if(elem) {
        var offset = elem.offset();
        var scrollto = offset.top - $('.navbar').outerHeight();
        $('html, body').animate({scrollTop:scrollto}, 0);
      }
    }
  })
</script>
