<header id="hd" class="rlatv list-bnr">
  <div class="hd-srch">
    <h2><%= @country_frquency.first.title %></h2>
  </div>
</header>
<div class="frequency-table">
	<%= @country_frquency.first.content.html_safe%>
</div>