<!-- Inner Banner Start -->
<section class="innerbanner clearfix">
	<div class="container">
		<h2 class="text-center text-uppercase"><%= @country_frquency.first.title %></h2>
	</div>
</section>

<div class="frequency-table">
	<%= @country_frquency.first.content.html_safe%>
</div>
