<!-- Inner Banner Start -->
<section class="innerbanner clearfix">
	<div class="container">
		<h2 class="text-center text-uppercase">FREQUENTLY ASKED QUESTIONS</h2>
	</div>
</section>

<section class="clearfix innerwrap">
	<div class="container faqwrap">
		<div class="content">
			
<% @faqs.each_with_index do |fq, i| %>		
			<div class="accordion-container"> 
				<a href="#" class="accordion-toggle">
					<%= strip_tags("#{fq.question}") %><span class="toggle-icon"><i class="fa fa-plus-square-o" aria-hidden="true"></i></span>
				</a>
				
				<div class="accordion-content"> 
					<p><%= fq.answer.html_safe %></p> 
				</div>
			<!--/.accordion-content--> 
			</div>
<% end %>

		</div>
	</div>
</section>
