<section class="innerbanner clearfix">
	<div class="container">
		<h2 class="text-center text-uppercase"><%= @how_we_work.first.title %></h2>
	</div>
</section>

<%= @how_we_work.first.content.to_s.html_safe %>
