<section class="innerbanner clearfix">
	<div class="container">
		<h2 class="text-center text-uppercase"><%= @our_policy.first.title %></h2>
	</div>
</section>

<%= @our_policy.first.content.to_s.html_safe %>
