<section class="innerbanner clearfix">
	<div class="container">
		<h2 class="text-center text-uppercase"><%= @terms_and_conditions.first.title %></h2></h2>
	</div>
</section>

<%= @terms_and_conditions.first.content.to_s.html_safe %> 
<script>
  $(document).ready(function($) {
    $("#owl-example").owlCarousel({
      loop:true,
      margin:0,
      nav:true,
      autoplay:true,
      autoplayHoverPause:true,
      items : 1
    });

    $("#pr-category").owlCarousel({
      loop:true,
      margin:0,
      nav:true,
      autoplay:true,
      autoplayHoverPause:true,
      items : 1,
    });
  })
</script>
