<section class="innerbanner clearfix">
	<div class="container">
		<h2 class="text-center text-uppercase"><%= @why_power_cozmo.first.title %></h2>
	</div>
</section>

<%= @why_power_cozmo.first.content.to_s.html_safe %>
