.error-msg{
  color: #cc0000;
  font-size: 12px;
}

.new-msg-content .new-msg-form-box ul.wysihtml5-toolbar {
  float: right;
}

.new-msg-content .new-msg-form-box label {
  float: left;
}

.new-msg-content .new-msg-form-box ul.wysihtml5-toolbar li a {
  padding: 0px 10px;
  line-height: 34px;
  color: #4d4d4d;
  font-size: 12px;
}

.new-msg-content .new-msg-form-box ul.wysihtml5-toolbar li {
  border-bottom: none;
}

.new-msg-content .new-msg-form-box ul.wysihtml5-toolbar li a i {
  color: #4d4d4d;
}

.alert{
  text-align: center;
}

.pagination ul { float: right; }
.pagination { width: 100%; }
.pagination li { list-style: none; float: left; margin-left: 5px; }
.pagination li a {
  border: 1px solid #e5e5e5;
  color: #757575;
  display: inline-block;
  font-size: 13px;
  line-height: 25px;
  min-height: 25px;
  min-width: 25px;
  text-align: center;
}
.pagination li a.active {
  background-color: #345c6e;
  border: 1px solid #244c5e;
  color: #fff;
}
.pagination li a.active {
  background-color: #345c6e;
  border: 1px solid #244c5e;
  color: #fff;
}

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}
.dashboard .sidebar-menu li small.label.label-danger {
  width: 18px;
  height: 18px;
  line-height: 16px;
}

.info-box-icon .info-count{
  font-size: 19px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

body.sidebar-mini.sidebar-collapse .sidebar-menu>li span { text-indent: -99999px;  }
.dashboard .sidebar-menu li small { top: -3px !important; right: -10px !important;  }
.upload-photo-input { position: absolute; top: 0; left:  0;  }
.equipment-content .eqp-form-box .upload-image-input { position: relative; }

.form-group span.error-mess { font-size: 12px; color: #757575;}
.col-lg-4.eqp-form-left .form-group span.required { color: red; }
.eqp-form-box span.required { color: red; }
.mp-form-box.more .form-group .more-info { text-align: center; }

.equipment-other-field {
  margin-top: 10px;
}
.myprofile-content .mp-form-box .upload-image-input { position: relative; }
.myprofile-content .mp-form-box .upload-image-input:hover:after { content: ''; position: absolute;
top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto;  background:rgba(0,0,0,.75);
pointer-events:none; -webkit-pointer-events:none; -moz-pointer-events:none; -ms-pointer-events:none;
-o-pointer-events:none;
}
.myprofile-content .mp-form-box .upload-image-input:hover:before { content: '+'; position: absolute;
top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; width: 55px; height: 55px; font-family:Helvetica;
font-weight:900; color:rgba(255,255,255,.85); font-size:96px; line-height: 55px; z-index: 9; pointer-events:none;
-webkit-pointer-events:none; -moz-pointer-events:none; -ms-pointer-events:none;-o-pointer-events:none;}

h3.static-txt-hd { color: #757575;
    font-size: 16px;
    font-family: 'PoppinsMedium';
    display: block;
    margin: 0px 0px 15px; }

ul.static-txt-lst  { margin-left: 0; padding-left: 15px !important;  }
ul.static-txt-lst li { list-style-type: disc !important; margin-bottom:  5px !important; font-size:  13px; }

.equipment-content .eqp-form-box ul.static-txt-lst { padding-left:  0 !important; }
.static-txt2 { padding: 10px;  }

.reply-msg-err { position:  relative; }
.reply-msg-err .error-msg { position:  absolute; top:  434px; left: 0;  }

.static-txt2 p { font-size:  13px !important; line-height:  18px !important; }
.eqp-nobg-area { background: none !important; padding: 0 !important; margin-bottom: 0 !important; border: none !important;  }
.eqp-form-details-height { min-height:  335px;  }

.detail-list-row .detail-list-r { word-wrap: break-word; }
p.response-msg { word-wrap: break-word; }
.eq_radio_label{
 margin-left: 10px !important;
}
.fl{
  float: left;
}
.hide{
  display: none;
}

.label-in_progress{
  color:black !important;
}
.label-sold{
  color:black !important;
}
.width-full {
  width: 100%;
}
.br-photo{
  margin: 0px 10px 10px 0px;
  float:left;
  text-align: center;
}

.detail-list-r.big-msg { overflow: hidden; overflow-x: auto; }
.field_with_errors {
  height: 100%;
  width: 100%;
}
.field_with_errors label.error {
  position: absolute;
  top: 140px;
}
.box.box-info.dsh-table-details .table>tbody>tr>td { border-bottom: 1px solid #f4f4f4; }
.box.box-info.dsh-table-details .pagination { margin: 70px 0 0 -25px; }
.long-descp { height: 290px; overflow: hidden; overflow-y: auto; }
.shipping-detail-edit {float: left !important; width: 22% !important; margin-right: 10px !important;}
.paddingB50{ padding-bottom:70px !important;}


/* New design css */
.nav-head .site-logo span img{width: 147px;}
.no-result{text-align: center; margin-top: 8px; font-size: 16px;}
.text-white{color: #fff !important;}
.unread-msg-top{max-height: 200px; overflow-y: auto;}
.unread-msg-top img{width: 40px;}
 

 
 
.img-add{position: relative !important; top: 40% !important;}
.content{padding: 0px !important;}
.equipment-content .eqp-form-box, .myprofile-content .mp-form-box, .new-msg-content .new-msg-form-box{margin-bottom: 0px!important;} 

.myprofile-content .mp-form-box{border: none!important; margin-bottom: 0px!important; float: none !important; padding: 0px!important;}
.pos-rel{ postion:relative;}
.padding{padding: 0px !important;}
.leftpading{padding-left: 0px !important;}
.padding10{ padding: 10px !important; } 
.paddingT15{ padding-top: 15px !important; }
.paddingL15{ padding-left: 15px !important; } 
.paddingR15{ padding-right: 15px !important; } 
.paddingB15{ padding-bottom: 15px !important; }

.margin10{ margin: 10px !important; }
.marginT5{ margin-top: 5px !important; } 
.marginT10{ margin-top: 10px !important; } 
.marginT15{ margin-top: 15px !important; } 
.marginT20{ margin-top: 20px !important; } 
.mt155{margin-top: 155px !important;}
.marginR5{margin-right: 5px !important;}
.marginR10{margin-right: 10px !important;}
.marginR15{margin-right: 15px !important;}
.marginR20{margin-right: 20px !important;}
.marginB5{margin-bottom: 5px !important;}
.marginB10{margin-bottom: 10px !important;}
.marginB15{margin-bottom: 15px !important;}
.marginB20{margin-bottom: 20px !important;}
.marginL5{margin-left: 5px !important;}
.marginL10{margin-left: 10px !important;}
.marginL15{margin-left: 15px !important;}
.marginL20{margin-left: 20px !important;}
.mb50{margin-bottom: 50px !important;}
.mb60{margin-bottom: 60px !important;}
.mb180{margin-bottom: 180px !important;}


.bootsy-height{height: 300px !important;}
.text12{font-size: 12px !important;}
.text14{font-size: 14px !important;}

.height200{ height: 200px !important; }

.label{
	border-radius: 0.25em;
	color: #ffffff;
	display: inline;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	padding: 0.2em 0.6em 0.3em;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}
.error-msg, label.error {
    color: #cc0000 !important;
    font-size: 12px !important;
 }

.file-upload input[type="file"] {width: auto !important;}

.my-msg{background-color: #f9f6dc;}
.response-msg{/*background-color: #f9f6dc;*/}
.conversation-section{padding-left: 15px; padding-right: 15px; min-width: 70%;}

/* Custom style to change main theme style start */
.site-head{background: #03a9f4 !important;}
.app.theme-four .site-head{background: #03a9f4 !important;}
 
/* Custom style to change main theme style end */
.RightArrow { position: absolute; right: -9px; top: -8px; color:#ddd;}
.RightArrow  .fa{ font-size:22px;}

.LeftArrow { position: absolute; left: -9px; top: -8px; color:#ddd;}
.LeftArrow  .fa{ font-size:22px;}


.conversation-section .panel-lined, .conversation-section .panel-default, .conversation-section .panel-primary, .conversation-section .panel-success, .panel-info, .conversation-section .panel-warning, .conversation-section .panel-danger{ box-shadow:none;}
.theme-text{color: #333 !important;}
/* Dashboard Css Update */
#dash-slide { padding: 20px 0; }
.dashboar-slide-box{ border-radiou:5px; padding: 15px; background: #eee; margin: 0 10px;}
.dash-slide-count{ margin-bottom: 15px; color: #E66963; font-size: 30px;}
.dash-slide-title {
  color: #2f3941;
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.dash-slide-count img { width: auto !important; display: inline-block  !important; vertical-align: middle;; margin-left: 10px; }
#dash-slide .owl-next { display: inline-block !important; background:url(/assets/seller/dashboard/next-arrow.png) no-repeat center center; width: 26px; height: 27px;}
#dash-slide .owl-prev { display: inline-block !important; background:url(/assets/seller/dashboard/prev-arrow.png) no-repeat center center; width: 26px; height: 27px;}
#dash-slide .owl-nav { padding-top: 10px; position: absolute; right: 10px; text-align: center; top: -47px;}

.post-btn a {
  background-color: #fff;
  border: 1px solid #39677c;
  border-radius: 5px;
  color: #39677c;
  display: block;
  font-size: 13px;
  min-height: 120px;
  padding: 20px 0 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.dashboard-tablenew.panel-heading{ margin: 0px !important; padding: 15px !important;}
.panel-body.padding0{ padding: 0 !important; }

.dashboard-table thead{ background: #eee; }

.dashboard-table tbody tr:nth-child(2n+2){ background: #eee; }
.dashboard-table .pagination { padding: 0 15px !important; }
.dashboard-table .label {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  border-radius: 2px;
}
.bluecolor{ color: #03A9F5 !important; }
.redcolor{ color: #FF0204 !important; }
.greencolor{ color: #00a65a !important; }
/* Custom css */
.clearfix { *zoom:1}
.clearfix:before, .clearfix:after { display: block; content: ""; line-height: 0 }
.clearfix:after { clear: both }
.pos-rel{ position: relative; }
.page-dashboard.padding0{ padding: 0 !important; }
.RightPanel {
  background-color: #fff;
  border: 1px solid #dddddd;
  width: 100%;
}
.RightPanel .RightUserTitle{ border-bottom: 1px solid #eaeaea;  border-top: 1px solid #eaeaea; background: #f7f7f7; font-size: 16px; color: #1c1c1c; font-weight: 500; padding: 10px; }
.RightPanel .RightIndent{ padding: 10px;}
.RightPanel .RightIndent p{ font-size: 14px; font-weight: 400; line-height: 20px; color: #666; margin-bottom: 10px;}
.RightPanel .RightIndent p a{ font-size: 13px; font-weight: 400; color: #3C697F; text-align: right;;}
.RightPanel .RightIndent ul{ list-style: circle; margin-left: 15px; padding: 0px;}
.RightPanel .RightIndent li {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 10px;
}
.howwork-title{ font-size: 14px; color: #333; font-weight: 500; margin-bottom: 5px; }

.tipwrap .tab-content{ padding: 0px; }
.tipwrap .nav-tabs > li{ width: 50%; }
.tipwrap .nav-tabs > li > a { margin-left: 0px;}

.tipwrap .nav-tabs > li.active > a, .tipwrap .nav-tabs > li.active > a:hover, .tipwrap .nav-tabs > li.active > a:focus {
  background-color: #fff;
  color: #404040;
}


.dashboard-table .table > thead > tr > th, .dashboard-table .table > tbody > tr > td, .dashboard-table .table > tfoot > tr > td { font-size: 12px; color: #666; }

.dashboard-table .table .default-font { color: #666 !important; }

.site-head ul.left-elems > li > .form-search {
  position: relative;
  width: 240px;
  margin-left: 20px;
}
.dashboard-search .form-control {
  border: 1px solid #ccc;
  color: #535353;
  height: 44px;
  line-height: 42px;
}
.dashboard-search .form-control:focus {
  content: " ";
  background: #f7f7f7;
  box-shadow: none;
}
.dashboard-search #search-btn {
  border: none;
  position: absolute;
  top: 8px;
  right: 27px;
  background: transparent;
  padding: 0px;
}

.list-widget a{color: #333 !important;}

.page-dashboard .panel-heading{font-size: 14px !important;}

.dashboard-profile .control-label {
  color: #333 !important;
  font-size: 12px;
  margin: 0 0 7px;
}
/*.dashboard-profile .form-control{ padding: 6px 0; }*/
.dashboard-profile .myprofile-content{ border:1px solid #ccc;} 
.dashboard-profile .update-profile .btn{ display: block; width: 100%; border-radius: 0px; }

.dash-profile-box .profile-updateb{ padding: 5px !important; background: #fff; }
.update-profile-box h3 {
  color: #6c6a6b;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 5px;
}
.update-profile-box p {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.page-dashboard.plrno{ padding-left: 0px !important; padding-right: 0px !important; }

.set-right-section-content{height: 140px; overflow: hidden;}
.set-right-section-tips-block{height: 450px; overflow: hidden;}
.profile-brief{padding-top: 15px; padding-bottom: 15px; min-height: 2px;}

.upload-image-input label{position: relative; top: 50px;}
.font-size-20{font-size: 20px !important;}
.font-size-24{font-size: 24px !important;}
/*.nav-tabs > li > a:hover{color: #367fa9 !important;}*/
.equipment_rating_stars .fa-star{cursor: pointer;}

 

.postedbox {
  background-color: #fff;
  border: 1px solid #ddd;
  min-height: inherit;
  padding: 10px 10px 0;
}
.latest-txt {
  color: #666;
  font-size: 13px;
  line-height: normal;
  margin: 0 0 2px;
}

.latest-title a {
  color: #666 !important;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Uploadbtn {
  position: relative;
  overflow: hidden;
  padding:10px 20px;
  text-transform: uppercase;
  color:#fff;
  background: #000066;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width:100px;
  text-align:center;
  cursor: pointer;
}
.Uploadbtn .input-upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height:100%;
  width:100%;
}
.file-field .input-group-btn > .btn{height: 34px !important;}
.slider-patern .owl-item .dashboar-slide-box {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 0 5px;
  padding: 15px 0;
}
.slider-patern #dash-slide {
  padding: 0px 30px 20px 30px;
}
.slider-patern .owl-item .dashboar-slide-box i {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dash-slide-count {
  color: #e66963;
  font-size: 30px;
  margin: 10px 0;
}
.main-heding { border-bottom: 1px solid #dddddd; 
background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #efefef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: linear-gradient(to bottom,  #fafafa 0%,#efefef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
}
.post-btn a span {
  display: block;
  font-size: 30px;
  margin: 0 0 12px;
}

.form-with input.form-control[type="search"] {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #adadad;
  border-radius: 5px !important;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  padding-right: 45px;
}

.main-box .table th{
background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #efefef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: linear-gradient(to bottom,  #fafafa 0%,#efefef 100%);
}

.main-box .table th {
  border-bottom: 1px solid #ddd;
  border-left: 0 solid #cbcbcb;
  color: #333 !important;
  font-size: 11px !important;
  font-weight: normal;
  padding: 8px 15px;
  text-transform: uppercase;
}

.main-heding > .fa {
  border-right: 1px solid #e3e3e3;
  left: 0;
  margin: 0 10px 0 0;
  padding: 10px 10px 10px 0;
}
.main-heding.no-t-padding {
  padding-bottom: 0;
  padding-top: 0;
}

.main-heding p {
  color: #666;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
td a span {
  font-size: 14px;
}
.table td a span {
  color: #2f3840;
  font-size: 16px;
  margin: 0 2px;
}

.table td{
  background-color: #f9f9f9;
  border-top: 1px solid #e3e3e3 !important;
}
a.ad-pod:hover{ color: #323B43;}
a.ad-pod {
  color: #3B697C;
  float: right;
  font-size: 12px;
  font-weight: 600;
  margin: 15px 0 0;
  text-transform: uppercase;
}
a.ad-pod i {
  font-size: 13px;
  margin: 0 3px 0 0;
}
.main-box .left-side h3 {
  color: #404040;
}
.main-box .left-side p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 5px;
}
.main-box .left-side p strong{
  font-weight: 400;
}
.list-widget.main-box .list-unstyled li {
  border-bottom: 1px solid #e2e2e2;
  font-size: 12px;
  padding: 8px 10px;
  text-transform: uppercase;
}
.list-widget.main-box .list-unstyled li:last-child {
  border-bottom: 0px solid #e2e2e2;
}
.list-widget.main-box .list-unstyled li span:first-child {
  margin: 0 10px 0 8px;
}
.list-widget.main-box .list-unstyled li .badge.badge-sm {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #666;
  display: inline-block;
  float: right;
  font-size: 11px;
  height: 22px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 22px;
}
footer.nav-foot {
  bottom: 0;
  color: #666;
  font-size: 13px;
  left: 0;
  margin: 10px 0 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.dash-head h4 {
  color: #ff4321;
  font-size: 16px;
  font-weight: 500;
}
.profile-brief center {
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0 #999;
}
.same-color-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.tipwrap .nav-tabs, .same-color-box .nav-tabs{border-bottom: 1px solid #dddddd; 
background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #efefef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: linear-gradient(to bottom,  #fafafa 0%,#efefef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
border-radius: 5px 5px 0 0;}
.tipwrap .nav-tabs{ box-shadow: 0;}
.tipwrap .nav-tabs li{ border-bottom: solid 1px #ddd; }
.nav-tabs > li > a {border-radius: 0;}
.same-color-box .nav-tabs > li > a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-bottom-color: #ddd !important;
  border-bottom-style: solid;
  border-image: none;
  border-left-color: -moz-use-text-color;
  border-left-style: none;
  border-radius: 0;
  border-right-color: #ddd !important;
  border-right-style: solid;
  border-top: 0 none !important;
  border-width: 0 1px 1px 0 !important;
  font-weight: 500;
  margin: 0 !important;
}

button.btn{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b8293+0,36586b+100 */
background: #5b8293; /* Old browsers */
background: -moz-linear-gradient(top, #5b8293 0%, #36586b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #5b8293 0%,#36586b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #5b8293 0%,#36586b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b8293', endColorstr='#36586b',GradientType=0 ); /* IE6-9 */}


.gry-gradient{background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #efefef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: linear-gradient(to bottom,  #fafafa 0%,#efefef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );}
.mor-fin {
  border-top: 1px solid #ddd;
  margin: 0 -10px;
  padding: 10px 0;
}
a.vm-btn {
  color: #40687c;
  float: right;
  font-size: 11px;
  font-weight: 600;
  white-space: nowrap;
}
.rating-post > img {
  width: 12px;
}
a.vm-btn:hover {
  color: #f74f08;
}
.ext-info {
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  line-height: 35px;
  padding: 0 12px;
}
.ext-info p {
  margin: 0;
}
.orang-gradient:hover{ color: #fff; opacity: .8; }
.orang-gradient {
  border: 1px solid #de3510;
  border-radius: 3px;
  color: #fff !important;
  display: inline-block;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 5px 15px;
  text-shadow: 0 1px 1px #666;
}
.equp-add .control-label {
  color: #333 !important;
  margin: 0 0 8px;
  text-transform: uppercase;
}
.equp-add .form-group {
  display: table;
  width: 100%;
}
.equp-add .selectric { border: 1px solid #cdcdcd;}
.eq-radio-sec {
  padding: 15px 0 30px;
}
.eq_type.fl {
  display: none;
}
.eq-radio > span::before {
  border: 3px solid #666;
  border-radius: 50%;
  bottom: 0;
  content: "";
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 20px;
}
.eq-radio > span {
  color: #333;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  padding: 0 0 0 25px;
  position: relative;
  text-transform: uppercase;
}
.eq-radio {
  margin: 0 15px 0 0;
}
.eq-radio input:checked ~ span::before{ border-color:#FF4221; }
.equp-add .control-label i {
  color: #999;
  font-style: normal;
}
.upload-imag .fields {
  float: left;
  width: 25%;
}
.equipment-content .eqp-form-box .upload-image-input img {
  bottom: 0;
  height: auto !important;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: auto !important;
}
.upload-image .form-control.upload-photo-input {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.upload-image .remove_nested_fields {
  color: #fe5630;
  left: 10px;
  position: absolute;
  top: 3px;
  z-index: 99;
}
.add_nested_fields {
  border: 1px solid #ddd;
  float: right;
  height: 180px;
  position: relative;
  width: 25%;
}
.upload-imag .fields .upload-image {
  padding: 0 5px;
}

.so-lisitn td{
background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #efefef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: linear-gradient(to bottom,  #fafafa 0%,#efefef 100%);
}
.main-box .so-lisitn td{
  border-bottom: 1px solid #ddd;
  border-left: 0 solid #cbcbcb;
  color: #666 !important;
  font-size: 11px !important;
  font-weight: normal;
  padding: 8px 15px;
  text-transform: uppercase;
}
.main-box .so-lisitn .table th { border-right: 1px solid #ddd;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color: #fff;}
.group-forms- .form-group {
  display: table;
  width: 100%;
}
section.group-forms- {
  margin: 20px 0 0;
}

/**************************************************/
.first-actordian > button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  font-size: 14px;
  font-weight: 500;
  height: 45px;
  padding: 0 15px;
  text-align: left;
  width: 100%;
}
.first-actordian > button span {
  color: rgb(102, 102, 102);
  float: right;
  margin: 5px 0 0;
}
.first-actordian ul{ padding:0; list-style:none; margin:0;}
.collapse, .collapsing {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  float: left;
  margin: 10px 0;
  width: 100%;
}

.cont-info > li i::before {
    content: ":";
    float: right;
    margin: 0 10px 0 0;
}
.cont-info > li i {
    display: inline-block;
    font-style: normal;
    width: 150px;
}
.cont-info > li b {
  color: rgb(51, 51, 51);
  font-weight: normal;
}
.cont-info > li {
  border-bottom: 1px solid rgb(221, 221, 221);
  display: table;
  line-height: 40px;
  padding: 0 15px;
  width: 100%;
}
.cont-info > li:nth-child(2n+1) {
  background-color: rgb(246, 246, 246);
}
.first-actordian .main-box {
  border: 0 none;
}
.download-{background-color: #d4d4d4;
  border: solid 1px #293036;
  background-image: -webkit-linear-gradient(bottom, #303941, #404a52);
  background-image: -moz-linear-gradient(bottom, #303941, #404a52);
  background-image: -o-linear-gradient(bottom, #303941, #404a52);
  background-image: -ms-linear-gradient(bottom, #303941, #404a52);
  background-image: linear-gradient(to top, #303941, #404a52);}

.download-, .download-:hover, .download-:hover {
  color: rgb(255, 255, 255) !important;
  float: right;
  margin: 10px 15px 10px 0;
  padding: 8px 15px;
}
.download- span {
  margin: 0 0 0 5px;
}
.first-actordian .dashboard-table td {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 12px;
  padding-top: 12px;
}
.first-actordian .dashboard-table .table {
  margin-bottom: 0;
}
.cont-info > li:last-child {
  border-bottom: 0 none;
}
.first-actordian {
  margin: 0 0 10px;
}
.pack-detals {
  padding: 0 15px;
}
.tabl-pro {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px;
  display: table;
  width: 100%;
  border-right: 0;
  border-bottom: 0;
}
.tabl-pro ul {
  display: table-row;
}
.tabl-pro ul li {
  border-bottom: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  display: table-cell;
  padding: 8px 10px;
}
.pack-detals {
  margin: 0 0 10px;
  padding: 0 15px;
}
.locat-sec {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  display: table;
  float: left;
  margin: 0 0 12px 15px;
  overflow: hidden;
  width: 80%;
}

.locat-sec ul.cont-info:first-child {
    border-right: 1px solid rgb(221, 221, 221);
}
.locat-sec ul.cont-info {
  display: table-cell;
  width: 50%;
}
.ed-s {
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(207, 207, 207);
  border-radius: 3px;
  color: rgb(102, 102, 102);
  float: right;
  height: 30px;
  line-height: 30px;
  margin: 0 15px 0 0;
  padding: 0 13px;
  text-transform: uppercase;
}
.ed-s span {
  margin: 0 5px 0 0;
}
.locat-sec .cont-info li:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0);
}
.locat-sec .cont-info li b.tit {
  font-size: 16px;
  font-weight: 400;
}
.locat-sec .cont-info > li b {
  color: rgb(102, 102, 102);
  float: right;
  line-height: normal;
  width: 68%;
}
.locat-sec .cont-info > li i {
  color: rgb(102, 102, 102);
}
.text-arss- textarea {
  border: 0 none;
  height: 100px;
  padding: 10px 15px;
  resize: none;
  width: 100%;
}
.totl-price.cont-info > li i {
  width: 250px;
}
.totl-price.cont-info > li b {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 15px;
  font-weight: 600;
  padding: 0 0 0 10px;
  position: relative;
}
.totl-price.cont-info > li {
  position: relative;
}
.totl-price.cont-info > li b em {
  color: rgb(102, 102, 102);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  pointer-events: none;
  position: absolute;
  right: 100%;
}
.totl-price.cont-info > li:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0);
}
.cont-info > li.tol-rp i::before {
  content: "";
}
.totl-price.cont-info > li {
  border-bottom: 0 solid rgb(221, 221, 221);
  line-height: 40px;
  padding: 0 15px;
  position: relative;
}
.totl-price.cont-info > li.tol-rp {
  border: 1px solid rgb(221, 221, 221);
  display: block;
  margin: 3px 10px 5px;
  padding: 5px;
  width: auto;
}
.send-ord.orang-gradient {
  height: 40px;
  line-height: 40px;
  margin: 10px 0 20px;
  padding: 0 15px;
}
.totl-price.cont-info > li.tol-rp i {
  font-weight: 600;
}
.ord-req {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  margin: 0 0 10px;
  padding: 12px 15px;
}
.ord-req p {
  color: #fff;
  margin: 0;
}
.ord-req > b {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.reg-turb {
  background-color: rgb(255, 255, 255);
  border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) rgb(255, 76, 0);
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  display: table;
  margin: 15px 0 0;
  padding: 10px 15px 10px 0;
  width: 100%;
}
.reg-tig span {
  background-color: rgb(255, 76, 0);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}
.reg-tig h5 {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: calc(100% - 40px);
}
.reg-tig {
  margin: 7px 0 0;
}
.tlt-sec-chat {
  background-color: rgb(49, 58, 66);
  height: 40px;
  padding: 0 15px;
}
.tlt-sec-chat b {
  color: rgb(255, 255, 255);
  line-height: 40px;
}
.tlt-sec-chat > span {
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
  float: right;
  height: 28px;
  line-height: 28px;
  margin: 6px 0 0;
  padding: 0 15px;
}
.tlt-sec-chat > span i {
  display: inline-block;
  margin: -2px 2px 0 0;
  vertical-align: middle;
}
.chatn-box {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  display: table;
  width: 100%;
}
.user-chat-sec {
  display: table;
  margin: 0 0 30px;
  padding: 5px 15px;
  width: 100%;
}
.text-are {
  float: left;
  width: calc(100% - 80px);
}
.ti-user::before {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 20px;
}
.text-are > textarea {
  background-color: rgba(0, 0, 0, 0);
  border: 0 none;
  color: rgb(102, 102, 102);
  font-size: 13px;
  height: 70px;
  padding: 5px 10px;
  resize: none;
  width: 100%;
}
.text-are {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  float: left;
  position: relative;
  width: calc(100% - 70px);
}
.comment-chates {
  margin: 20px 0 0;
  max-height: 355px;
  overflow-x: auto;
}
.text-are::before {
  background-image: url("/assets/seller/sid-aro.jpg");
  background-repeat: no-repeat;
  content: "";
  height: 10px;
  position: absolute;
  right: -14px;
  top: -1px;
  width: 22px;
}
.user-chat-sec span.user-img {
  background-color: rgb(49, 58, 66);
  border-radius: 50%;
  float: right;
  height: 55px;
  line-height: 55px;
  text-align: center;
  width: 55px;
}
.cust .text-are {
  float: right;
}

.cust.user-chat-sec span.user-img {
  float: left;
}
.cust .text-are::before {
  background-image: url("/assets/seller/sid-aro-left.jpg");
  left: -12px;
  right: auto;
}
.text-are > p {
  color: rgb(102, 102, 102);
  font-size: 13px;
  padding: 5px 10px;
  text-align: justify;
}
.text-are > em {
  bottom: -19px;
  font-size: 12px;
  font-style: normal;
  opacity: 0.5;
  position: absolute;
  right: 0;
}

.cust .text-are > em {
  left: 0;
  right: auto;
}
.green-button{background-color: #000;
  border: solid 1px #3e8f3e;
  background-image: -webkit-linear-gradient(bottom, #5bb75b, #419641);
  background-image: -moz-linear-gradient(bottom, #5bb75b, #419641);
  background-image: -o-linear-gradient(bottom, #5bb75b, #419641);
  background-image: -ms-linear-gradient(bottom, #5bb75b, #419641);
  background-image: linear-gradient(to top, #5bb75b, #419641);}

.red-button{background-color: #000;
  -webkit-box-shadow: inset 0 0 rgba(255,255,255,.75);
  -moz-box-shadow: inset 0 0 rgba(255,255,255,.75);
  box-shadow: inset 0 0 rgba(255,255,255,.75);
  border: solid 1px #b92c28;
  background-image: -webkit-linear-gradient(bottom, #d8524e, #c12e2a);
  background-image: -moz-linear-gradient(bottom, #d8524e, #c12e2a);
  background-image: -o-linear-gradient(bottom, #d8524e, #c12e2a);
  background-image: -ms-linear-gradient(bottom, #d8524e, #c12e2a);
  background-image: linear-gradient(to top, #d8524e, #c12e2a);}
.butn-text button:hover{ opacity:.8;}
.butn-text button {
  border-radius: 3px;
  color: rgb(255, 255, 255) !important;
  display: inline-block;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  margin: 0 0 0 5px;
  padding: 0 15px;
  text-transform: uppercase;
}
.butn-text > span {
  float: right;
}
.butns-sec-chat {
  background-image: url("/assets/seller/patern.png");
  border-top: 1px solid rgb(220, 220, 220);
  padding: 10px 15px;
}
.butn-text i {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(175, 175, 175);
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  line-height: 16px;
  height: 16px;
  margin: 10px 0 0;
  text-align: center;
  width: 16px;
}
.butn-text {
  display: table;
  margin: 0 0 10px;
  width: 100%;
}
.text-updrte > textarea {
  border: 1px solid rgb(220, 220, 220);
  height: 150px;
  margin: 0 0 5px;
  padding: 10px;
  resize: none;
  width: 100%;
}
.count > p {
  color: rgb(102, 102, 102);
}
.count > p i {
  color: rgb(255, 76, 0);
  font-style: normal;
}

.make-ofer{ border-bottom: 1px solid #dddddd; background: #fafafa; background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #efefef)); background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%); background: -o-linear-gradient(top, #fafafa 0%, #efefef 100%); background: -ms-linear-gradient(top, #fafafa 0%, #efefef 100%); background: linear-gradient(to bottom, #fafafa 0%, #efefef 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef', GradientType=0 );
}
.make-ofer {
  border: 1px solid rgb(221, 221, 221);
  display: table;
  margin: 20px 0 10px;
  padding: 0;
  width: 100%;
}
.make-ofer > a {
  border-right: 1px solid rgb(198, 198, 198);
  color: rgb(102, 102, 102);
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding: 0 15px;
}
.make-ofer > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.make-ofer > span input {
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}
.make-ofer > span {
  display: inline-block;
  line-height: 38px;
  padding: 0 15px;
  position: relative;
  vertical-align: top;
}
.make-ofer > span b {
  font-weight: 400;
  margin: 0;
}
.make-ofer > span b img {
  margin: 0 5px 0 0;
}
.make-ofer > button {
  background-color: rgb(48, 57, 65);
  border: 0 none;
  color: rgb(255, 255, 255);
  float: right;
  height: 38px;
  padding: 0 20px;
  text-shadow: 0 1px 1px rgba(0,0,0,.75);}
 
.chatn-box {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  display: table;
  margin: 0 0 50px;
  width: 100%;
}
.site-nav input.form-control {
  height: 30px;
  padding: 0 30px 0 10px;
}
.col-md-4.pading-left-none {
  padding-left: 0;
}
.user-chat-sec span img {
  height: 55px;
  width: 55px;
}
.biding-pric, .bidi-tabl button {
  display: table-cell;
  vertical-align: bottom;
}
.inpu-tex {
  display: table;
  width: 100%;
}
.inpu-tex .send-ord.orang-gradient {
  border-radius: 0;
  margin: 0;
  width: 100%;
}
.bidi-tabl label {
  color: #666;
  font-size: 13px;
  margin: 0 0 5px;
}
.locat-sec .cont-info i {
  line-height: normal;
  width: 30%;
}
.locat-sec .cont-info li b.tit {
  color: #333;
  font-size: 14px;
  text-align: center;
  width: 100%;
}
.locat-sec .cont-info > li {
  font-size: 13px;
  line-height: normal;
  padding: 8px 10px;
}
.upd-ship .basic-table table {
  border: 1px solid #e1e1e1;
  margin: 0;
}
.upd-ship .basic-table table td, .upd-ship .basic-table table th {
  border: 1px solid #e1e1e1;
  padding: 8px 10px !important;
  text-align: center;
}
.col-md-12.basic-table {
  margin: 10px 0 0;
}
.upd-ship .form-group {
  display: table;
  width: 100%;
}

.upd-ship .close.fa-co {
  margin: 5px 10px 0 0;
}
.pop-hd {
  border-bottom: 1px solid #ddd;
  color: #666;
  padding: 5px 0 0;
}
.upd-ship .basic-table table th {
  font-weight: 500;
}
.upd-ship .send-ord.orang-gradient {
  margin: 0;
}
.ord-req {
  background-color: rgb(49, 58, 66);
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 0 2px rgb(49, 58, 66);
}
/****************************2017-8-2*******************************/
.favourate {
  display: inline-block;
  position: relative;
}
.hov-sec {
  display: inline-block;
}
.over-deata {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 3px 0 rgb(205, 205, 205);
  left: 0;
  opacity: 0;
  padding: 10px 13px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 70px;
  transition: all 0.2s ease 0s;
  width: 250px;
  z-index: 999;
}
.prod-fav > span {
  display: block;
  padding: 0;
}
.over-deata > h5 {
  border-bottom: 1px solid rgb(221, 221, 221);
  font-size: 16px;
  margin: 0 0 15px;
  padding: 8px 0;
}
.over-deata .send-ord.orang-gradient {
  height: 35px;
  line-height: 32px;
  margin:15px 0 5px;
  width: 100%;
}
.prod-fav > b {
  color: rgb(102, 102, 102);
  display: block;
  font-weight: 400;
  margin: 5px 0 0;
  text-transform: capitalize;
}
.hov-sec b {
  display: inline-block;
  font-weight: 400;
  margin: 0 0 0 5px;
  vertical-align: middle;
}

.hov-sec span {
  display: inline-block;
  vertical-align: middle;
}
.favourate:hover .over-deata {
  opacity: 1;
  pointer-events: auto;
  top: 100%;
}