.error-msg{
  color: #cc0000;
  font-size: 12px;
}

.new-msg-content .new-msg-form-box ul.wysihtml5-toolbar {
  float: right;
}

.new-msg-content .new-msg-form-box label {
  float: left;
}

.new-msg-content .new-msg-form-box ul.wysihtml5-toolbar li a {
  padding: 0px 10px;
  line-height: 34px;
  color: #4d4d4d;
  font-size: 12px;
}

.new-msg-content .new-msg-form-box ul.wysihtml5-toolbar li {
  border-bottom: none;
}

.new-msg-content .new-msg-form-box ul.wysihtml5-toolbar li a i {
  color: #4d4d4d;
}

.alert{
  text-align: center;
}

.pagination ul { float: right; }
.pagination { width: 100%; }
.pagination li { list-style: none; float: left; margin-left: 5px; }
.pagination li a { min-width: 34px; min-height: 34px; line-height: 34px; text-align: center; border: 1px solid #e5e5e5; display: inline-block; font-size: 14px; color: #757575; }
.pagination li a:hover { background: #3f51b5; border: 1px solid #3f51b5; color: #fff; }
.pagination li a.active { background: #3f51b5; border: 1px solid #3f51b5; color: #fff; }

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}
.dashboard .sidebar-menu li small.label.label-danger {
  width: 18px;
  height: 18px;
  line-height: 16px;
}

.info-box-icon .info-count{
  font-size: 19px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

body.sidebar-mini.sidebar-collapse .sidebar-menu>li span { text-indent: -99999px;  }
.dashboard .sidebar-menu li small { top: -3px !important; right: -10px !important;  }
.upload-photo-input { position: absolute; top: 0; left:  0;  }
.equipment-content .eqp-form-box .upload-image-input { position: relative; }

.form-group span.error-mess { font-size: 12px; color: #757575;}
.col-lg-4.eqp-form-left .form-group span.required { color: red; }
.eqp-form-box span.required { color: red; }
.mp-form-box.more .form-group .more-info { text-align: center; }

.equipment-other-field {
  margin-top: 10px;
}
.myprofile-content .mp-form-box .upload-image-input { position: relative; }
.myprofile-content .mp-form-box .upload-image-input:hover:after { content: ''; position: absolute;
top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto;  background:rgba(0,0,0,.75);
pointer-events:none; -webkit-pointer-events:none; -moz-pointer-events:none; -ms-pointer-events:none;
-o-pointer-events:none;
}
.myprofile-content .mp-form-box .upload-image-input:hover:before { content: '+'; position: absolute;
top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; width: 55px; height: 55px; font-family:Helvetica;
font-weight:900; color:rgba(255,255,255,.85); font-size:96px; line-height: 55px; z-index: 9; pointer-events:none;
-webkit-pointer-events:none; -moz-pointer-events:none; -ms-pointer-events:none;-o-pointer-events:none;}

h3.static-txt-hd { color: #757575;
    font-size: 16px;
    font-family: 'PoppinsMedium';
    display: block;
    margin: 0px 0px 15px; }

ul.static-txt-lst  { margin-left: 0; padding-left: 15px !important;  }
ul.static-txt-lst li { list-style-type: disc !important; margin-bottom:  5px !important; font-size:  13px; }

.equipment-content .eqp-form-box ul.static-txt-lst { padding-left:  0 !important; }
.static-txt2 { padding: 10px;  }

.reply-msg-err { position:  relative; }
.reply-msg-err .error-msg { position:  absolute; top:  434px; left: 0;  }

.static-txt2 p { font-size:  13px !important; line-height:  18px !important; }
.eqp-nobg-area { background: none !important; padding: 0 !important; margin-bottom: 0 !important; border: none !important;  }
.eqp-form-details-height { min-height:  335px;  }

.detail-list-row .detail-list-r { word-wrap: break-word; }
p.response-msg { word-wrap: break-word; }
.eq_radio_label{
 margin-left: 10px !important;
}
.fl{
  float: left;
}
.hide{
  display: none;
}

.label-in_progress{
  color:black !important;
}
.label-sold{
  color:black !important;
}
.width-full {
  width: 100%;
}
.br-photo{
  margin: 0px 10px 10px 0px;
  float:left;
  text-align: center;
}

.detail-list-r.big-msg { overflow: hidden; overflow-x: auto; }
.field_with_errors {
  height: 100%;
  width: 100%;
}
.field_with_errors label.error {
  position: absolute;
  top: 140px;
}
.box.box-info.dsh-table-details .table>tbody>tr>td { border-bottom: 1px solid #f4f4f4; }
.box.box-info.dsh-table-details .pagination { margin: 70px 0 0 -25px; }
.long-descp { height: 290px; overflow: hidden; overflow-y: auto; }
.shipping-detail-edit {float: left !important; width: 22% !important; margin-right: 10px !important;}
.paddingB50{ padding-bottom:70px !important;}


/* New design css */
.nav-head .site-logo span img{width: 147px;}
.no-result{text-align: center; margin-top: 8px; font-size: 16px;}
.text-white{color: #fff !important;}
.unread-msg-top{max-height: 200px; overflow-y: auto;}
.unread-msg-top img{width: 40px;}
.equipment-content .eqp-form-box .upload-image{margin-right: 10px; width: 45% !important;}

.btn-primary{background-color: #2196f3 !important; border-color: #2196f3 !important;}
.equipment-content .eqp-form-box .tips-for-imgupload{width: 110px !important;}
.img-add{position: relative !important; top: 40% !important;}
.equipment-content .eqp-form-box .upload-image{margin-top: 20px;}
.content{padding: 0px !important;}
.equipment-content .eqp-form-box, .myprofile-content .mp-form-box, .new-msg-content .new-msg-form-box{margin-bottom: 0px!important;} 

.myprofile-content .mp-form-box{border: none!important; margin-bottom: 0px!important; float: none !important; padding: 0px!important;}
.pos-rel{ postion:relative;}
.padding{padding: 0px !important;}
.padding10{ padding: 10px !important; } 
.paddingT15{ padding-top: 15px !important; }
.paddingL15{ padding-left: 15px !important; } 
.paddingR15{ padding-right: 15px !important; } 
.paddingB15{ padding-bottom: 15px !important; }

.margin10{ margin: 10px !important; }
.marginT5{ margin-top: 5px !important; } 
.marginT10{ margin-top: 10px !important; } 
.marginT15{ margin-top: 15px !important; } 
.marginT20{ margin-top: 20px !important; } 
.mt155{margin-top: 155px !important;}
.marginR5{margin-right: 5px !important;}
.marginR10{margin-right: 10px !important;}
.marginR15{margin-right: 15px !important;}
.marginR20{margin-right: 20px !important;}
.marginB5{margin-bottom: 5px !important;}
.marginB10{margin-bottom: 10px !important;}
.marginB15{margin-bottom: 15px !important;}
.marginB20{margin-bottom: 20px !important;}
.marginL5{margin-left: 5px !important;}
.marginL10{margin-left: 10px !important;}
.marginL15{margin-left: 15px !important;}
.marginL20{margin-left: 20px !important;}
.mb50{margin-bottom: 50px !important;}
.mb60{margin-bottom: 60px !important;}
.mb180{margin-bottom: 180px !important;}


.bootsy-height{height: 300px !important;}
.text12{font-size: 12px !important;}
.text14{font-size: 14px !important;}

.height200{ height: 200px !important; }

.label{
	border-radius: 0.25em;
	color: #ffffff;
	display: inline;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	padding: 0.2em 0.6em 0.3em;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}
.error-msg, label.error {
    color: #cc0000 !important;
    font-size: 12px !important;
 }

.file-upload input[type="file"] {width: auto !important;}

.my-msg{background-color: #f9f6dc;}
.response-msg{/*background-color: #f9f6dc;*/}
.conversation-section{padding-left: 15px; padding-right: 15px; min-width: 70%;}

/* Custom style to change main theme style start */
.site-head{background: #03a9f4 !important;}
.app.theme-four .site-head{background: #03a9f4 !important;}
.main-container .nav-wrap .nav-head{background: /*#eee*/ #eee !important;}
/* Custom style to change main theme style end */
.RightArrow { position: absolute; right: -9px; top: -8px; color:#ddd;}
.RightArrow  .fa{ font-size:22px;}

.LeftArrow { position: absolute; left: -9px; top: -8px; color:#ddd;}
.LeftArrow  .fa{ font-size:22px;}


.conversation-section .panel-lined, .conversation-section .panel-default, .conversation-section .panel-primary, .conversation-section .panel-success, .panel-info, .conversation-section .panel-warning, .conversation-section .panel-danger{ box-shadow:none;}
.theme-text{color: #333 !important;}
/* Dashboard Css Update */
#dash-slide { padding: 20px 0; }
.dashboar-slide-box{ border-radiou:5px; padding: 15px; background: #eee; margin: 0 10px;}
.dash-slide-count{ margin-bottom: 15px; color: #E66963; font-size: 30px;}
.dash-slide-title{ font-size: 16px; color: #555; font-weight: 400; }
.dash-slide-count img { width: auto !important; display: inline-block  !important; vertical-align: middle;; margin-left: 10px; }
#dash-slide .owl-next { display: inline-block !important; background:url(/assets/seller/dashboard/next-arrow.png) no-repeat center center; width: 26px; height: 27px;}
#dash-slide .owl-prev { display: inline-block !important; background:url(/assets/seller/dashboard/prev-arrow.png) no-repeat center center; width: 26px; height: 27px;}
#dash-slide .owl-nav { padding-top: 10px; position: absolute; right: 10px; text-align: center; top: -47px;}

.post-btn a{ padding: 0 20px; height: 46px; line-height: 44px; color: #fff; text-align: center; display: block; width: 100%; background: #03A9F5;}
.post-btn a:hover, .post-btn a:active, .post-btn a:focus{ color: #fff; }

.dashboard-tablenew.panel-heading{ margin: 0px !important; padding: 15px !important;}
.panel-body.padding0{ padding: 0 !important; }

.dashboard-table thead{ background: #eee; }


.dashboard-table tbody tr:nth-child(2n+2){ background: #eee; }
.dashboard-table .marginL5{ margin-left: 5px !important;}
.dashboard-table .marginR5{ margin-right: 5px !important;}
.dashboard-table .bluecolor{ color: #03A9F5; }
.dashboard-table .redcolor{ color: #FF0204; }
.dashboard-table .greencolor{ color: #00a65a; }
.dashboard-table .pagination { padding: 0 15px !important; }
.dashboard-table .label-danger{ width: 80px; }
/* Custom css */
.clearfix { *zoom:1}
.clearfix:before, .clearfix:after { display: block; content: ""; line-height: 0 }
.clearfix:after { clear: both }
.pos-rel{ position: relative; }
.page-dashboard.padding0{ padding: 0 !important; }
.RightPanel{ width: 100%; background: #fff; box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);}
.RightPanel .RightUserTitle{ border-bottom: 1px solid #eaeaea;  border-top: 1px solid #eaeaea; background: #f7f7f7; font-size: 16px; color: #1c1c1c; font-weight: 500; padding: 10px; }
.RightPanel .RightIndent{ padding: 10px;}
.RightPanel .RightIndent p{ font-size: 14px; font-weight: 300; line-height: 20px; color: #666; margin-bottom: 10px;}
.RightPanel .RightIndent p a{ font-size: 13px; font-weight: 400; color: #03A9F5; text-align: right;;}
.RightPanel .RightIndent ul{ list-style: circle; margin-left: 15px; padding: 0px;}
.RightPanel .RightIndent li{ font-size: 14px; font-weight: 300; line-height: 20px; color: #666; margin-bottom: 10px;}
.howwork-title{ font-size: 14px; color: #333; font-weight: 500; margin-bottom: 5px; }

.tipwrap .tab-content{ padding: 0px; }
.tipwrap .nav-tabs > li{ width: 50%; }
.tipwrap .nav-tabs > li > a { margin-left: 0px;}

.tipwrap .nav-tabs > li.active > a, .tipwrap .nav-tabs > li.active > a:hover, .tipwrap .nav-tabs > li.active > a:focus { background: #03A9F5; color: #fff;}


.dashboard-table .table > thead > tr > th, .dashboard-table .table > tbody > tr > td, .dashboard-table .table > tfoot > tr > td { font-size: 12px; }

.site-head ul.left-elems > li > .form-search {
  position: relative;
  width: 240px;
  margin-left: 20px;
}
.dashboard-search .form-control {
  border: 1px solid #ccc;
  color: #535353;
  height: 44px;
  line-height: 42px;
}
.dashboard-search .form-control:focus {
  content: " ";
  background: #f7f7f7;
  box-shadow: none;
}
.dashboard-search #search-btn {
  border: none;
  position: absolute;
  top: 8px;
  right: 27px;
  background: transparent;
  padding: 0px;
}

.list-widget a{color: #333 !important;}

.page-dashboard .panel-heading{font-size: 14px !important;}

.dashboard-profile .control-label{ font-size: 12px; color: #ccc !important; }
/*.dashboard-profile .form-control{ padding: 6px 0; }*/
.dashboard-profile .myprofile-content{ border:1px solid #ccc;} 
.dashboard-profile .update-profile .btn{ display: block; width: 100%; border-radius: 0px; }

.dash-profile-box .profile-updateb{ padding: 5px !important; background: #fff; }
.update-profile-box h3{ font-size: 20px; color: #555; font-weight: 500; margin:10px 0 10px;}
.update-profile-box p{ font-size: 16px; color: #999; padding: 0 0 10px; margin: 0px; }

.page-dashboard.plrno{ padding-left: 0px !important; padding-right: 0px !important; }

.set-right-section-content{height: 120px; overflow: hidden;}
.set-right-section-tips-block{height: 450px; overflow: hidden;}
.profile-brief{padding-top: 15px; padding-bottom: 15px; min-height: 205px;}

.upload-image-input label{position: relative; top: 50px;}
.font-size-20{font-size: 20px !important;}
.font-size-24{font-size: 24px !important;}
/*.nav-tabs > li > a:hover{color: #367fa9 !important;}*/
.equipment_rating_stars .fa-star{cursor: pointer;}

.nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background-color: #03a9f4 !important;
	color: #fff !important;
}

