// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
//@import "wigu/active_admin_theme";
@import "bootstrap.css";
@import "bootsy";
@import "active_admin_flat_skin";
@import "font-awesome";

$skinMainFirstColor: #A5A7AA!default;
$skinMainSecondColor: #0066CC!default;
$skinBorderWindowColor: #B8BABE!default;


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#wrapper .flashes .flash_notice{
	color: #3c763d;
	background-color: #dff0d8;
  border-color: #d6e9c6;
}

form fieldset ol > li label abbr{
	border: none;
  color: red;
}

.pagination li{
	display: inline;
}
.pagination li.active a{
	color: #5ea3d3;
}

iframe.wysihtml5-sandbox {
  margin-left: 20% !important;
}

label.label {
	color: #5E6469;
}

textarea.bootsy_text_area {
	margin-left: 20% !important;
}

.wysihtml5-toolbar a, .wysihtml5-toolbar a:link, .wysihtml5-toolbar a:visited {
	text-decoration: none;
}

// Date Time Picker css
.ui-timepicker-div {
  .ui-widget-header {
    margin-bottom: 8px;
  }
  dl {
    text-align: left;
    dt {
      float: left;
      clear: left;
      padding: 0 0 0 5px;
    }
    dd {
      margin: 0 10px 10px 40%;
    }
  }
  td {
    font-size: 90%;
  }
}

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.ui-timepicker-div {
  .ui_tpicker_unit_hide {
    display: none;
  }
  .ui_tpicker_time .ui_tpicker_time_input {
    background: none;
    color: inherit;
    border: none;
    outline: none;
    border-bottom: solid 1px #555;
    width: 95%;
    &:focus {
      border-bottom-color: #aaa;
    }
  }
}

.ui-timepicker-rtl {
  direction: rtl;
  dl {
    text-align: right;
    padding: 0 5px 0 0;
    dt {
      float: right;
      clear: right;
    }
    dd {
      margin: 0 40% 10px 10px;
    }
  }
}

/* Shortened version style */

.ui-timepicker-div.ui-timepicker-oneLine {
  padding-right: 2px;
  .ui_tpicker_time, dt {
    display: none;
  }
  .ui_tpicker_time_label {
    display: block;
    padding-top: 2px;
  }
  dl {
    text-align: right;
    dd {
      display: inline-block;
      margin: 0;
      > div {
        display: inline-block;
        margin: 0;
      }
      &.ui_tpicker_minute:before, &.ui_tpicker_second:before {
        content: ':';
        display: inline-block;
      }
      &.ui_tpicker_millisec:before, &.ui_tpicker_microsec:before {
        content: '.';
        display: inline-block;
      }
    }
  }
  .ui_tpicker_unit_hide {
    display: none;
    &:before {
      display: none;
    }
  }
}

.ui-datepicker .ui-datepicker-header {
	height: 30px !important;
}
div.ui-datepicker-header {
	width: 97.5% !important;
}
.ui-datepicker table.ui-datepicker-calendar{
	top: -2px !important;
}

p.inline-hints img {
  max-width: 980px;
}

li img.show-img {
   max-width: 98%;
}

ul.image-blk {
  list-style: none;
}

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  > li {
    padding: 3px 20px;
    &.ui-state-focus {
      background-color: #DDD;
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

div.error-msg{
  color: #cc0000;
  font-size: 12px;
}

.panel_contents ul li span.dash_left{float: left; font-weight: bold;}
.panel_contents ul li span.dash_right{float: right;}
.column .panel h3{text-align: center; font-weight: bold;}
table.category_table_dashboard{
  border: 2px solid #e6e9ee;
  border-radius: 6px;
}
table.category_table_dashboard thead th{
  background: #5ea3d3;
  color: #ffffff;
  text-align: center;
}
table.category_table_dashboard tr td{
  text-align: center;
}

tr.odd, tr.even {
  &.unread {
    td.col {
        font-weight: bold;
    }
  }
}

#site_title_image{
  background-color: white;
}

.ui-datepicker-buttonpane.ui-widget-content { display: none; }
.ui-timepicker-div { display: none; }
#mailboxer_message_body-error { position:  relative; top: 277px;  }
.hide{
  display: none;
}

.action_item a { margin-bottom: 5px !important; }
select#category_parent_id { width: 250px; }

#equipment_equipment_type_input label {
  padding: 0px;
  display: block;
  width: 20%;
  float: left;
  font-size: 1.0em;
  font-weight: bold;
}
#equipment_equipment_type_input ol.choices-group {
    padding: 0 0 0 22%;
}

body.active_admin .input.just_datetime_picker input.just-datetime-picker-field {
  width: auto !important;
}

body.active_admin .input.just_datetime_picker input.just-datetime-picker-date {
  margin-right: 2ex;
}

body.active_admin .input.just_datetime_picker input.just-datetime-picker-time-hour {
  margin-right: 1ex;
}

body.active_admin .input.just_datetime_picker input.just-datetime-picker-time-minute {
  margin-left: 1ex;
}
.bootsy-upload-form.form-inline .input-group-btn input.btn-default { font-size: 12px; }

/* ************ CUSTOM CSS *************/
#active_admin_content {
  float: right;
  margin-bottom: 30px;
  width: 84% !important;
}
#header.header .header-item.tabs {
  overflow-x: hidden;
}
#header.header #tabs.header-item.tabs li a {
  color: #aeb3b5 !important;
  font-size: 14px;
  height: 31px;
  line-height: 25px;
  transition: all 0.3s ease 0s;
}
#header.header #tabs.header-item.tabs li {
  display: block;
  margin-bottom: 10px !important;
}
html #header ul.tabs > li {
  font-size: 12px;
  margin: 0;
}
html #header ul.tabs > li:hover > a, html #header ul.tabs > li.current > a {
  background: #e73c3c none repeat scroll 0 0;
  border-radius: 5px !important;
  color: white;
  display: block;
  margin-bottom: -10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0 !important;
}
html #header ul.tabs > li {
  font-size: 12px;
  margin: 0;
  min-height: 34px !important;
}
#filters_sidebar_section {
  display: none;
  position: fixed;
  right: 42%;
  top: 5%;
  width: 18%;
  z-index: 2000;
}
.label {
  border-radius: 0.25em;
  color: #fff;
  display: inline;
  font-size: 85%;
  font-weight: bold;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
#filters_sidebar_section{
	max-height: 90%;
	overflow-y: auto;
	width: 30% !important; 
	right:32% !important;
	overflow-x:hidden;
}
html input[type="text"], html input[type="password"], html input[type="email"], html input[type="date"], html input[type="tel"], html input[type="number"], html button {
	height: 30px !important;
}
.panel h3, .sidebar_section.panel h3 { color:#fff !important; font-weight:400 !important; padding:10px 15px !important; font-size:18px !important;}
.panel .panel_contents { padding:5px 5px 15px !important; line-height:26px !important;}
.panel .panel_contents a{ color:#e73c3c; font-weight: 600; text-decoration: none;}
.panel_contents ul li span.dash_left{ font-weight:normal;}
html #footer { z-index:999; padding:10px 30px; height:auto;}
#footer p { padding-top:5px !important; font-size:12px;}
#footer #utility_nav a{ color:#888; text-decoration:none; font-size:12px;}
html #utility_nav ul { float:left; margin:0 5px; color:#888 !important;}
html #utility_nav li:hover a{ color:#888 !important;}
.filter_form .panel .panel_contents{ padding:15px 25px !important;}
form.filter_form .filter_form_field { text-align:center !important;}

html .sidebar_section.panel form .buttons { text-align:center;}

#edit_equipment input[type="radio"], #edit_equipment input[type="checkbox"] { margin:0 0 0 -23px !important;}
#header #tabs { height: 85vh;}



