<% if @system_email.present? && @system_email.try(:content).present? %>
	<%= @system_email.content.to_s.gsub("::USER_NAME::",(@resource.try(:name).to_s.blank? ? @resource.email : @resource.try(:name).to_s)).gsub("::RESET_PASSWORD_LINK::",link_to('Change my password', edit_password_url(@resource, reset_password_token: @token))).html_safe %>
<% else %>
	<p>Hello <%= @resource.try(:name).to_s.blank? ? @email : @resource.try(:name).to_s %>,</p>

	<p>We have received a password reset request from your account. Please click below link to reset your password.</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

	<p>Please ignore this email, If you have not requested this.</p>

	<p>&nbsp;</p>

	<p>Best Regards</p>

	<p>Power Cozmo Team</p>
<% end %>
