<div class="page page-ui-tables page-dashboard">
	<ol class="breadcrumb breadcrumb-small">
		<li><a href="<%= seller_dashboard_path %>">Home</a></li>
		<li><a href="<%= inbox_seller_messages_path %>">Messages</a></li>
		<li class="active">Received Massages</li>	
	</ol>
	
	<div class="page-wrap">
		
		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mb20">
					<div class="left">
						<h4 class="mb5 text-light">Received Massages</h4>
					</div>
				</div>
			</div>
		</div> <!-- #end row -->
		
		<%= render partial: "conversations", locals: {conversations: @conversations} %>
		
	</div>
</div>

<%= javascript_include_tag "seller/messages" %>
