<div class="page page-ui-tables page-dashboard">
	<ol class="breadcrumb breadcrumb-small">
		<li><a href="<%= seller_dashboard_path %>">Home</a></li>
		<li class="active">Write New Message</li>	
	</ol>
	
	<div class="page-wrap">
		
		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mb20">
					<div class="left">
						<h4 class="mb5 text-light">Write New Message</h4>
					</div>
				</div>
			</div>
		</div> <!-- #end row -->
		
		<%= render 'form' %>
		
	</div>
</div>
