<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"> 
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Write New Message </h1>
    <ol class="breadcrumb">
      <li><a href="<%= seller_dashboard_path %>">Home</a></li>
      <li class="active">Write New Message</li>
    </ol>
  </section> 
  <!-- Main content -->
	<section class="content new-msg-content">
		<%= render 'form' %>
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
